@import '~antd/dist/antd.css';

.ant-btn {
  margin-right: 8px;
}
.App{
    width: 100%;
    height:97vh;
    overflow: hidden;
}
.sb-sidenav-dark {
   
    margin-top: 55px;
}
div#layoutSidenav_nav {
    height:100vh;
}
.mar-55{
    margin-top: 55px;
    padding-right: 50px;
}
.listroom-table{
    height: 50vh;
    overflow-y: scroll;
}
.listroom-button button {
    margin: 20px;
}

.form-body input {
    width: 100% !important;
    height: 5px;
}

.form-body table {
    margin-top: 1rem;
}

.form-body table select {
    margin: 5px;
}

.bill-table .table th {
    text-align: center;
    vertical-align: middle;
}

table {
    counter-reset: row-num;
}
.STT:before {              
    content: counter(row-num); 
    counter-increment: row-num; 
}